* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: antiquewhite;
}

h1 {
  font-size: 2.3rem;
  margin: 40px 0 60px 0;
  text-align: center;
}

form {
  width: 90%;
  max-width: 600px;
  background: #21e313;
  margin-left: 20%;
  height: 3.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

form input {
  width: 79%;
  height: 3.5rem;
  font-size: 1.4rem;
  background: #fff;
  border: none;
  outline: none;
  padding-left: 0.5rem;
}

form button {
  outline: none;
  border: none;
  background: none;
  font-size: 1.4rem;
  text-align: center;
  color: #000;
  padding-left: 1rem;
  cursor: pointer;
}

.search-results {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 3rem auto;
}

.search-result {
  margin-bottom: 60px;
  width: 16rem;
  height: 12rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.search-result img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s linear all;
  border-radius: 0.5rem;
}
.search-result:hover img {
  opacity: 0.8;
  transform: scale(1.2);
}

#show-more-btn {
  text-align: center;
  display: block;
  margin: 30px auto;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  color: rgb(36, 12, 12);
  background: #5cf4ff;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

@media (max-width: 800px) {
  form {
    margin-left: 10%;
    /* width: 75%; */
    max-width: 500px;
  }
}
@media (max-width: 630px) {
  form {
    /* width: 64%; */
    max-width: 400px;
    flex-direction: column;
    display: flex;
    background: none;
    margin-bottom: 5rem;
    margin-left: 19px;
  }
  form input {
    padding: 0.6rem 1rem;
    width: 100%;
    max-width: 360px;
  }
  form button {
    padding-left: 2px;
    font-size: 1.1rem;
    background: rgb(77, 245, 21);
    width: 6rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    color: #000;
    font-weight: 600;
    margin-left: 3rem;
  }
}
